.CardItem{
    background-color: #e3d5ca;
    margin: 20px 300px;
    padding: 20px 3px;
    border: 100px;
    border-radius: 2rem;
}
.ItemHeader{
    font-size: 2rem;
    margin-top: 1px;
}
.Info{
    color: #212529;
    margin: 10px;
    padding: 1px;
}
.ItemFooter{
    display: flex;
}

