.CardItem{
    margin: 2rem;
    
}
.ItemImg {
    width: 300px;
}
.header{
    font-weight: bold;
    font-size: 35px;
}
.Info{
    font-size: 20px;
}
.ItemFooter{
    justify-content: center;
    text-align: center;
}