.CardItem{
    margin: 2rem;
    
}
.ItemImg {
    width: 300px;
}
.header{
    font-weight: bold;
    font-size: 35px;
}
.Info{
    font-weight: bold;
    font-size: 24px;
}
.ItemFooter{
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}
.Option{
    color: #780000;
    padding: 25px;
    text-decoration: none;
}
.Option:hover{
    font-size: 25px;
    color: #c1121f;
    text-decoration: underline;
}
